#vumeter{
  height: 100px;
}
// .overall_efficiency{
//   .circle_chart{
//       margin-top:-30px;
//       ::ng-deep svg.ng-star-inserted {
//           margin-bottom: -21px;
//       }
//   }
// }
.dashboardline_page .right_side .utilization_load .spindle_loader.bg {
  padding: 0px 16px 0px;
}
.dashboardline_item_right{
  float: right;
}
.dashboardline_item_left{
  float: left;
}
.grid-list {
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-width:50%;
  height: calc(100vh - 200px);
}
.grid-list-item {
  background-color: #ccc;
  display: flex;
  padding: 0.5em;
  margin-bottom: 20px;
  height: 100%;
}
.grid-list-content {
  width: 100%;
}
.inner_card{
    display: flex;
    width: 50%;
}
.dashboardline_page .dashboardline_list.left_side .dashboardline_item{
  width: 92%;
}
#highcharts-12sizde-0{
  height: 104px!important;
} 
.blocks{
color: white;
}
.machinestatus_sec{
  display: flex;
  flex-wrap: wrap;
}


.page_title_sec .sub_title .display {
  margin-right: 11px;
  margin-bottom: -28px;
  color: #A8A8A8;
}
.vtr{
color: #A8A8A8;
cursor: pointer;

}
.trpiu{
display: inline;
text-indent: 50px;
letter-spacing: 3px;

}
.volkomn{
width: 25px;
cursor: pointer;
color: #A8A8A8;
}
.volkom{
width: 35px;
cursor: pointer;
color: #A8A8A8;
margin-left: 15px;

}
.awseome{
color: #A8A8A8;
}
// .tadbel_data_view{
//   font-size: larger;
//   font-weight: bolder;
// }

td {
font-size: xx-large;
}
th{
font-size: xx-large;

}
.spinner {
background: #262932;
height: 100vh;
opacity: 0.9;
position: fixed;
display: flex;
align-items: center;
justify-content: center;
top: 0;
left: 0;
right: 0;
width: auto;
z-index: 999;
}

.spinner img {
width: 90px;
margin-top: -130px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  white-space: nowrap;
  text-align: center;
}

th {
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}

td {
  font-size: 18px;
  padding: 5px 15px 5px 15px;
}
progress.run::-moz-progress-bar { background:#04C984; }
progress.run::-webkit-progress-value { background:#04C984; }
progress.run { color:#04C984; }
progress.idle::-moz-progress-bar { background: #FEAD01; }
progress.idle::-webkit-progress-value { background: #FEAD01; }
progress.idle { color: #FEAD01; }
progress.disconnect::-moz-progress-bar { background: #939393; }
progress.disconnect::-webkit-progress-value { background:#A8A8A8; }
progress.disconnect { color: #939393; }



@media only screen and (max-width: 600px) {
  .dashboardline_page .dashboardline_list.left_side .dashboardline_item{
    width: 100%!important;
  }
}

@media only screen and (max-width: 1024px)  {
  .dashboardline_page .right_side.side_sec {
    display: block;
}
.trpiu{
  text-indent: 50px;
  letter-spacing: 3px;
  display: flex;
  position: absolute;
  left: 11.5rem;
  top: -.5rem;
  align-items: center;
}
.circle_chart.utilize_chart {
  width: 100%;
}
.circle_chart {
  text-align: left;
}
.overall_utilization .circle_chart .chart_text {
  left: 74px;
}
.dashboardline_page .right_side .overall_utilization .job_desc {
  line-height: 30px;
  position: absolute;
  right: 38%;
  // text-align: left;
  top: 104px;
}
.line_desc .line_mac_target {
  margin-top: 15px;
  display: block;
}
.dashboardline_page .right_side .overall_utilization .line_desc .line_mac_target .box_bg {
  display: grid;
  align-items: center;
  justify-content: center;
}
.line_desc .line_mac_target {
  margin-top: 28px;
  position: absolute;
  top: -3px;
  right: -29px;
  flex-direction: column;
}
.line_desc .line_mac_target .box_bg {
  padding: 2px 60px 2px 60px;
  margin-top: 25px;
  white-space: nowrap;
}
.dashboardline_page .right_side .utilization_load .bg {
  width: 100%;
}
.dashboardline_page .right_side.side_sec .utilization_load {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.circle_chart{
  margin: auto;
}
.circle_chart .chart_text {
  position: absolute;
  top: 50%;
  left: 67px;
  transform: translate(-50%, -50%);
}
.dashboardline_page .right_side .utilization_load .bg .chart_sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.dashboardline_page .right_side .utilization_load .bg.axis_chart .circle_chart .chart_text {
  top: 45%;
  left: 56px;
}
.page {
   padding-bottom: 10px;
   height: 97.5vh;
}
}
// @media only screen and (min-width: 834px){
//   .trpiu{
   
//     display: flex;
//     position: absolute;
//     left: 8.5rem;
//     top: -0.5rem;
// }
// }
@media  (max-width: 768px){
  .line_desc .line_mac_target {
    display: flex;
    position: unset;
    flex-direction: unset;
    margin-top: auto;
  }
.circle_chart {
    width: 100%;
    text-align: center;
}
.overall_utilization .circle_chart .chart_text {
  left: 50%;
}
.spindle_loader .circle_chart {
  width: 56% !important;
}
.trpiu{
  position: absolute;
  display: flex;
  left: 130px;
  align-items: center;
  top: 0.1rem;
}
.volkomn, .volkom{
  width: 20px;
}
.circle_chart.as-chart-height {
       
  margin: 0 ;
  margin-left: -128px;
  margin-top: 22px;
}
.dashboardline_page .right_side .overall_utilization .job_desc {
 
  line-height: 22px;
  margin: 4vh 16px;
  line-height: 30px;
  position: absolute;
  right: 8px;
  text-align: left;
  top: 32px;
}
.dashboardline_page .right_side.side_sec .utilization_load {
  /* width: 40%; */
  width: 100%;
  display: flex;
  margin-top: 0.25rem;
  justify-content: space-between;
}
.circle_chart .chart_text {
  position: absolute;
  top: 50%;
  left: 67px;
  transform: translate(-50%, -50%);
}
.overall_utilization .chart_text {
  left: 50%;
}
.dashboardline_page .right_side .utilization_load .bg.axis_chart .circle_chart .chart_text {
  top: 45%;
  left: 50%;
}
.dashboardline_page .right_side .utilization_load .bg .chart_sub_title {

  margin: auto;
}
.dashboardline_page .right_side .utilization_load .spindle_loader.bg{
  padding: 0px 16px 0px 25px;
}
.dashboardline_page .right_side .utilization_load .overall_efficiency.bg{
  padding: 0px 16px 0px 25px;
}
.dashboardline_page .right_side .utilization_load .axis_chart.bg{
  
  width: 100%;
}
.page {
  padding-bottom: 10px;
  height: 97vh;
}


}
@media (min-device-width : 768px)  
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
  .circle_chart.utilize_chart {
    width: 100%;
}
.dashboardline_page, .dashboardline_page .right_side, .dashboardline_page .side_sec {
  
  flex-wrap: wrap;
}
.dashboardline_page .right_side.side_sec .utilization_load {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.dashboardline_page .right_side .utilization_load .bg {

  width: 100%;
}
.circle_chart.as-chart-height {
  margin: 0;
}
.as-chart-height {
  height: 28vh;
  width: 38%;
}
.dashboardline_page .right_side .overall_utilization .job_desc {
  line-height: 30px;
  position: absolute;
  left: 35%;
  // text-align: left;
  top: 89px;
}
.line_desc .line_mac_target {
  margin-top: 28px;
  position: absolute;
  top: -3px;
  right: -29px;
  flex-direction: column;

}
.line_desc .line_mac_target .box_bg {
  padding: 2px 60px 2px 60px;
  margin-top: 25px;
  white-space: nowrap;
}
.dashboardline_page .right_side .overall_utilization .line_desc .line_mac_target .box_bg {
  display: grid;
  align-items: center;
  justify-content: center;
}
.circle_chart .chart_text {
  top: 39%;
}
.line_desc .time_sec li p {
  font-size: 18px;
  white-space: nowrap;
  margin-top: 0.25rem;
}
.circle_chart ul {
  margin-top: -68px;
}
.dashboardline_page .right_side.side_sec .utilization_load {
 
  margin-top: 10px;
}
.circle_chart .chart_text {
  position: absolute;
  top: 50%;
  left: 67px;
  transform: translate(-50%, -50%);
}
.overall_utilization .chart_text {
  left: 50%;
    top: 35%;
}
.circle_chart {
  margin: auto;
}
.dashboardline_page .right_side .utilization_load .bg .chart_sub_title {
  margin: auto;
}
.volkomn, .volkom{
  width: 25px;;
  height: 25px;
}
.trpiu {
  
  display: flex !important;
  position: absolute;
  right: -143px;
  top: -4px;
}
.justify-content-left{
  justify-content:left;
}
.dashboardline_page .right_side .utilization_load .bg.axis_chart .circle_chart .chart_text {
  top: 45%;
  left: 50%;
}
.page {
  padding-bottom: 12px;
  height: 96vh;
}
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .circle_chart.as-chart-height {
    margin: 0;
    margin-left: auto;
    margin-top: auto;
}
.trpiu {
 
  left: 206px;
}
.as-chart-height {
  height: auto;
}
.dashboardline_page .right_side .overall_utilization .job_desc {
  line-height: 22px;
  margin: auto;
  line-height: 30px;
  position: inherit;
  right: 0;
  text-align: center;
  top: 0;
}
.circle_chart ul {
  margin-top: auto;
}
.line_desc .time_sec li p {
  font-size: 18px;
  white-space: initial;
  margin-top: 0.25rem;
}
.line_desc .line_mac_target .box_bg {
  padding: 2px 30px 2px 30px;
}
.line_desc .line_mac_target {
  margin-top: 0;
  position: inherit;
  top: auto;
  right: auto;
  flex-direction: inherit;
}
.dashboardline_page .right_side.side_sec .utilization_load {
  width: 100%;
  display: block;
  margin-top: 0.25rem;
  justify-content: unset;
}
.dashboardline_page .right_side .utilization_load .spindle_loader.bg {
  padding: 0px 0px 0px 0px;
}
.spindle_loader .circle_chart {
  width: 31% !important;
    margin-right: 75px;
}
.overall_efficiency .circle_chart {
  width: 31% !important;
  margin-right: 92px;
}
.spindle_loader .circle_chart .chart_text{
  position: absolute;
  top: 50%;
  left: 50%;
}
.overall_efficiency .circle_chart  .chart_text{position: absolute;
top: 50%;
left: 50%;
}
.page {
 
  height: 95vh;
}
}
@media only screen  and (min-width: 1200px)  {
  .volkomn, .volkom{
    width: 20px;
    height: 20px;
  }
  .line_desc .line_mac_target {
    // margin-top: 28px; */
    position: absolute;
    top: 6px;
    right: -39px;
    flex-direction: column;
  }
  .line_desc .time_sec li p{
    white-space: nowrap;
}
.utilization_load .circle_chart {
  position: relative;
  margin: auto;
}
}

@media only screen and (min-width: 1366px) and (max-width: 1920px)  {
  .dashboardline_page .right_side .overall_utilization .job_desc {
    right: 130px;
    top: 30px;
}
  .inner_card{
    display: flex;
    width: 33%;
}
.line_desc .line_mac_target .box_bg {
  padding: 2px 40px 2px 40px;
margin-top: 9px;
white-space: nowrap;
}
.line_desc .line_mac_target {
  margin-top: 28px;
  position: absolute;
  top: 24px;
  right: -29px;
  flex-direction: column;
}
.line_desc .time_sec li p {
  font-size: 18px;
  white-space: nowrap;
  margin-top: .25rem;
}
.circle_chart {
  position: relative;
  margin: auto;
  // padding: 0 8px;
}
.circle_chart.as-chart-height {
       
  margin: 0;
  margin-left: -24px;
  margin-top: 30px;
}
.as-chart-height {
  height: 27vh;
  width: 38%;
}
.overall_utilization .chart_text {
  left: 50%;
  top: 39%;
}
}

@media (min-width: 1920px) and (max-width: 2560px)  {
  .inner_card{
      display: flex;
      // width: 16%;
      width: 33%;
      height: 17vh;
      // flex-wrap: wrap;
      // flex: 3;
  }
  .inner_card.nine{
    width: 50%;
  }
  .inner_card.fifteen{
    width: 33%;
  }
  .inner_card.twenty{
    width: 25%;
  }
  .inner_card.forty {
    width: 25%;
    height: 8.5vh;
}

.dashboardline_page .right_side .overall_utilization .job_desc {
  
  right: 192px;
}
.line_desc .line_mac_target {
  margin-top: 100px;
  position: absolute;
  top: 14px;
  right: -11px;
  flex-direction: column;
}
.circle_chart.as-chart-height {
  margin: 0;
  margin-left: -46px;
  margin-top: 100px;
}
.as-chart-height {
  height: 15vh;
  width: 38%;
}
.overall_utilization .chart_text {
  left: 50%;
  top: 50%;
}
.dashboardline_page .right_side .overall_utilization .job_desc p {
  font-size: 31px;
}
}
 