<h2 mat-dialog-title>User Registration</h2>
<div class="close_modal">
    <mat-icon mat-dialog-close  class="v-align-middle display" matTooltip="Close">close
    </mat-icon>
</div>
<mat-dialog-content class="mat-typography">
    <div class="filter_sec">
        <form [formGroup]="userForm"  class="form_sec" autocomplete="off">
            <div class="row_sec">
                <mat-form-field appearance="outline" > 
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name" type="text">
                    <mat-error *ngIf="userForm.controls['first_name'].errors?.required">First Name is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" type="text">
                    <mat-error *ngIf="userForm.controls['last_name'].errors?.required">Last Name is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput formControlName="email" type="email"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a"
                    required>
                    <mat-error *ngIf="userForm.controls['email'].errors?.required">Email Id is Required
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['email'].errors?.pattern">Email Valid Email Address
                    </mat-error>
                
                </mat-form-field> 

                <mat-form-field  appearance="outline" *ngIf="!editMode">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password"  maxlength="14" [type]=" hide ? 'password' : 'text'"
                    required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{7,}$">
                    <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="userForm.controls['password'].errors?.required">password is Required
                    </mat-error>
                   
                    <mat-error *ngIf="userForm.controls['password'].errors?.pattern"><b>password Should be this format eg:('A','a','7','#' and password in 8 char)</b>                        </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="phone_no" pattern="[0-9]*" minlength="10" maxlength="10"  
                    (keypress)="keyPress($event)" type="text">
                    <mat-error *ngIf="userForm.controls['phone_no'].errors?.required">Mobile Number is Required
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['phone_no'].errors?.pattern">Please Enter a valid number
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['phone_no'].errors?.minlength">Mobile Number Should be 10
                        digit
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName="remarks" type="text">
                    <!-- <mat-error *ngIf="userForm.controls['remarks'].errors?.required">Remarks is Required
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="role">
                        <mat-option value="" disabled>Select Role</mat-option>
                        <mat-option [value]="role.role_name" *ngFor="let role of roles">{{role.role_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.controls['role'].errors?.required"> Role is Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-button text-right">
                <button mat-raised-button color="primary" type="submit" class="filter_btn btn_orange ml-16"
                    (click)="submit()"> Save</button>
            </div>
        </form>
    </div>
</mat-dialog-content>