


// ::ng-deep body .cdk-global-overlay-wrapper .cdk-overlay-pane {
//     width: 45% !important;
// }

span.ng-tns-c14-21.ng-star-inserted {
    color: white;
    font-family: 'Barlow Condensed',sans-serif !important;
    font-size: 18px !important;
}

.mat-select-value {
    color: white;
}