<section class="tablet_page">
    <div class="page_title_sec">
        <h2>Machine list</h2>
    </div>
    <div class="page">
        <div class="section_top_padding">
            <div class="machine_Container machine_lmw_page">
                <div class="machine_prod running" *ngFor="let machine of machine_list; let i = index"
                    (click)="oee(machine?.machine_name,machine?.id?.$oid)">
                    <h3>{{machine?.machine_name}}</h3>
                    <!-- <div class="machine_no">
                        <div class="machine_no_view">
                            <p>
                                <span>{{i+1}}</span>
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_align">
        <img src="../../../assets/images/yantra1.png">
    </footer>
    <div *ngIf="myLoader" class="spinner">
        <img src="assets/images/spinner.gif">
    </div>
</section>