.shift_sec {
    //   -webkit-display: flex;
    // -moz-display: flex;
    // -ms-display: flex;
    // -o-display: flex;
    //  display: flex;
    
    .col{
        width: calc(100% /1);
        padding: 0;
        &:last-child{
            margin-left: 0px;
        }
        a {
            i {
                cursor: pointer;
                font-size: 20px; 
                margin-left: 5px;
            }
        }
    }
    .volkomn{
        width: 100px;
        margin: auto;
    }
    .shift_card{
        padding: 15px;
        // background: url(../../../assets/images/bg_login.jpg) no-repeat;
        width: 800px;
        margin-bottom: 15px;
         background: #f7941e;
        text-align: center;
        color: #fff;
        margin: auto;
        position: relative;
        height: auto;
        
    .shift{
        .edit{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
       
        h2{
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        h3{
            font-size: 70px;
            font-weight: 100;
            margin: 20px 0;
        }
        .status_icon{
              -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
     display: flex;
     -webkit-justify-content: space-around;
     -moz-justify-content: space-around;
     -ms-justify-content: space-around;
     -o-justify-content: space-around;
    justify-content: space-around;
            .status{
                width: calc(100% /1);
                &:first-child{
                    border-right: 1px solid #ccc;
                }
                span{
                    color: #292929;
                    font-size: 24px;
                }
                p{
                    margin-top: 0px;
                    // color: #292929;
                
            }
            }
         
        }

    }
}
}

.shift_sec .col {
    width: calc(135% /2);
    margin: auto !important;
    padding: 0;
}

    // responsive
@media (max-width: 600px){
    .shift_sec {
         -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
         flex-wrap: wrap;
        .col{
            &:first-child{
                margin-right: 0;
            }
        }
        .shift_card{
        .shift{
            .play_circle{
                i{
                    font-size: 70px;
                }
            }
            h2{
                font-size: 18px;
                margin-bottom: 0;
            }
            h3{
                font-size: 20px;
                margin: 5px;
            }
            .status_icon{
                .status{
                    width: calc(100% /1);
                    padding: 5px;
                    span{
                        font-size: 14px;
                    }
                    p{
                        margin-top: 0px;
                }
                }
             
            }
    
        }
    }
    }
 

}

//responsive
@media (max-width: 768px){
    .shift_sec {
         -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
         flex-wrap: wrap;
        .col{
            &:first-child{
                margin-right: 0;
            }
        }
        .shift_card{
            .shift{
                .play_circle{
                    i{
                        font-size: 70px;
                    }
                }
                h2{
                    font-size: 20px;
                    margin: 0;
                }
                h3{
                    font-size: 40px;
                    margin: 5px;
                }
                .status_icon{
                    .status{
                        width: calc(100% /1);
                        padding: 5px;
                        span{
                            font-size: 14px;
                        }
                        p{
                            margin-top: 0px;
                    }
                    }
                 
                }
        
            }
        }
    }
}

.form_sec_fields .form_field {
    width: 32%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form_sec.shift_form .form-button {
    padding-bottom: 20px;
}
// .form_sec.shift_form.ng-untouched.ng-pristine.ng-invalid {
//     height: 300px;
// }
// .form_sec_fields .form_field:nth-child(3),
// .form_sec_fields .form_field:nth-child(6) {
//     margin-right: 0px;
// }
// #cdk-overlay-3{
//     width: 80%!important;
// }
::ng-deep .cdk-overlay-pane {
    width: auto!important;
}

@media only screen and (max-width:768px) {
    .form_sec_fields {
        .form_field {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
@media only screen and (max-width:600px) {
.form_sec_fields {
    .form_field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
}

i.material-icons {
    color: whitesmoke;
}

.imgae{
    width: 25px;
}

h2.sub_title {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "Mulish",sans-serif;
    font-weight: 700;
}