<section class="page">
    <div *ngIf="myLoader" class="spinner">
        <img src="assets/images/spinner.gif">
    </div>
    <div class="section_top_padding">
        <div class="page_title_sec">
            <h2>Production Quality Entry</h2>
            <!-- <div class="shift_details"> 
                <div class="shift_view box_sec">
                  <mat-icon class="v-align-middle display">check_circle
                  </mat-icon>
                  <p>Shift</p>
                  <div class="view_box">
                    <span>01</span>
                  </div>
                </div>
                <div class="last_update_view box_sec">
                  <mat-icon class="v-align-middle display">query_builder</mat-icon>
                  <p class="time_date">Last Update <br>
                    Time &amp; Date</p>
        
                  <p><span>
                      00:00:00 PM <br>
                    </span>
                    <span>01 JAN 2021</span>
                  </p>
                </div>
                  <button class="btn btn_link">
                    Update now
                    <mat-icon class="v-align-middle display">cached
                    </mat-icon>
                  </button>
              </div> -->
        </div>

      


        <div class="filter_sec mt-10 filter_align as-quality">
            <form [formGroup]="login" (ngSubmit)="logintest('true')">
                <div class="filter_fields">


                    <div class="filter_field">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Module" matNativeControl required
                                formControlName="line" (selectionChange)="getsplit($event.value)">
                                <!-- <mat-option value="all">All</mat-option> -->
                                <mat-option *ngFor="let mod of module_response" [value]="mod">
                                  {{mod}}
                              </mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filter_field sml-input">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Machine" matNativeControl required
                                formControlName="machine_name" >
                                <!-- <mat-option value="all">All</mat-option> -->

                                <mat-option *ngFor="let Machine of mac_response" [value]="Machine">
                                    {{Machine}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                  

                    <div class="filter_field sml-input">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Shift" matNativeControl required
                                formControlName="shift_num" >
                                <!-- <mat-option value="all">All</mat-option> -->
      
                                <mat-option *ngFor="let shift of shift_response" [value]="shift.shift_no">
                                    {{shift.shift_no}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- <div class="filter_field date_picker" color="primary">
                       
                        <ejs-daterangepicker placeholder='Select a range' formControlName="date"
                            (click)="daterangepicker.open()">
                            <e-presets>
                                <e-preset label="This Week" [start]='weekStart' [end]='weekEnd'></e-preset>
                                <e-preset label="This Month" [start]='monthStart' [end]='monthEnd'></e-preset>
                                <e-preset label="Last Month" [start]='lastStart' [end]='lastEnd'></e-preset>
                                <e-preset label="Last Year" [start]='yearStart' [end]='yearEnd'></e-preset>
                            </e-presets>
                        </ejs-daterangepicker>
                    </div> --> 
 
                    <div class="filter_field date_picker" color="primary">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" (dateInput)="addEvent('input', $event)" [max]="maxDate" (dateChange)="addEvent('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                          </mat-form-field>

                        <!-- <mat-form-field appearance="fill">
                            <input matInput [matDatepicker]="picker" formControlName="date"
                            (click)="picker.open()"  placeholder='Select Date'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                          </mat-form-field> -->
                    </div>

                    <button type="submit" color="primary" mat-raised-button>Go</button>
                </div>

            </form>

         
        </div>

        <div class="quality_ip_page">
            <div class="filter_dtails">

            </div>
            <div class="line_machines_list">
                <div class="line_machine_item active quality-width" *ngFor="let qua of get_report" >
                    <div class="line_mac_box" >
                         <div class="edit"  *ngIf = "get_report1?.length > 0">
                            <mat-icon class="v-align-middle display" (click)="openDialog(qua)">create</mat-icon>
                        </div>
                        <div class="machine_desc">
                            <h3>{{qua.machine_name}}</h3>

                        </div>
                        <div class="total_parts as-total_parts" >
                            <div>
                                <p class="text-nowrap font-size-28" >Total Parts Produced <mat-icon class="v-align-middle display">arrow_forward
                                </mat-icon> 
                                </p>  
                            <span >{{qua.actual}} </span>
                            </div>
                            <div class="">
                                <p class="font-size-28">NCQ <mat-icon class="v-align-middle display">arrow_forward
                                </mat-icon> 
                                </p>
                                <span>{{qua.ncq}} </span>
                            </div>
                        </div>
                        <div class="total_parts as-total_parts-1" >
                            <div class="mt-12 as-border-1" >
                                <p class="as-p" >Route Card No
                                </p>
                                <span class="as-span" >{{qua.root_card}} </span>
                            </div>
                            <div class="mt-12 as-border-2" >
                                <p class="as-p" >Operation No 
                                </p>
                                <span class="as-span" >{{qua.ope_no}}</span>
                            </div>
                            <div class="mt-12 as-border-3"  >
                                <p class="as-p" >Operator Name 
                                </p>
                                <span class="as-span" >{{qua.operator}}</span>
                            </div>
                           
                        </div>
                            
                            
                          
                        
                        
                        
                        <!-- <p class="idle_rate">Idle run rate : <span>00:00 min</span></p> -->
                    </div>
                    <div class="user_entry_sec">
                        <p>Fill the following parts</p>
                        <div class="user_entry_desc">
                            <form action="" class="user_entry_form">
                                <div class="filter_fields">
                                    <div class="filter_field">
                                        <mat-label> Accepted</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Enter Rejected Parts" value="{{qua.accept}}" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="filter_field">
                                        <mat-label> Rejected</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Enter Rejected Parts" value="{{qua.reject}}" readonly>
                                        </mat-form-field>
                                    </div>

                                    <div class="filter_field">
                                        <mat-label> Rework</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Enter Rework Parts" value="{{qua.rework}}" readonly>
                                        </mat-form-field>
                                    </div>
                                    <!-- <button type="button" class="btn btn_gray">Go</button> -->
                                </div>
                                <div class="filter_field q-remarks">
                                    <mat-label> Remarks</mat-label>
                                    <mat-form-field appearance="outline" class="q-remarks-field" >
                                        <input matInput placeholder="Enter Reason Name" class="q-remarks-input" [formControl]="reason" >
                                    </mat-form-field>
                                </div>
                                <div class="accepted_parts q-submit" (click)="reas(get_report)">
                                    <h3 class="q-submit-h3" >Submit</h3>
                                    
                                </div>
                            </form>
                            <ul>
                                <!-- <li>
                                    <a href="javascript:;" (click)="openDialog2()">Reason <span>(3) </span> </a>
                                </li> -->
                                <!-- <li>
                                    <a href="javascript:;" (click)="openDialog3()">Add
                                        <mat-icon class="v-align-middle display" >add</mat-icon>
                                    </a>
                                </li> -->
                                <!-- <li>
                                    <a href="javascript:;">Edit
                                        <mat-icon class="v-align-middle display" (click)="openDialog4()">create</mat-icon>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                       
                        <div class="accepted_parts">
                            <h3>Accepted Parts</h3>
                           
                            <div>
                                <span>{{qua.accept}}</span>
                                <mat-icon class="v-align-middle display">arrow_upward
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div *ngIf="get_report.length==0" class="no_data_found">
                    <h2>No Quality found</h2>
                </div>
              






            </div>

        </div>
    </div>
   
</section>